#normalMsg{
    height: 500px;
    border: 1px solid #ccc;
    width:998px;
    margin-bottom:10px;
}
#normalMsg h1{
    height: 40px;
    line-height: 40px;
    background: #076CE0;
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
    opacity: 0.5;
    width: 980px;
}
#loginf{
    height: 400px;
    padding: 30px;
    width: 400px;
    margin: 50px auto;
}
#loginf dl {
	background: #fff;
	height: 52px;
	margin-top: -1px;
	border: 1px solid #E6E6E6;
	position: relative;
}

#loginf>dl {
	width: 398px;
}

#loginf dl dt {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	width: 88px;
	color: #666;
	padding: 16px 0 16px 20px;
	float: left;
}

#loginf dl dd {
	height: 28px;
	float: left;
	padding: 12px 0;
	position: relative;
}

#loginf .yz_codebox {
	width: 100%;
	height: 54px;
}

#loginf .yz_codebox dl {
	width: 277px;
	float: left;
}

#yzCodeOut {
	display: inline-block;
	float: left;
	width: 120px;
	height: 52px;
	line-height: 52px;
	margin: -1px 0 0 -1px;
	border: 1px solid #E6E6E6;
	background: #EEE;
	text-align: center;
	font-size: 30px;
	color: #070707;
	position: relative;
	z-index: 1;
}

#yzCodeOut a {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 120px;
	height: 52px;
	line-height: 52px;
	margin: -1px 0 0 -1px;
	border: 1px solid #E6E6E6;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-weight: 900;
	font-size: 12px;
	display: none;
}

#yzCodeOut:hover a {
	display: block;
}

#loginf>p {
	font-size: 14px;
	color: #666;
	height: 30px;
	line-height: 30px;
	width: 400px;
	margin-top: 15px;
	border: 0;
	position: relative;
}

#loginf>p input {
	margin-right: 8px;
	vertical-align: middle;
}

#loginf>p a {
	color: #06C;
}

#logBtn{
	margin-top: 15px;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: #ff500b;
	width: 398px;
	height: 42px;
	line-height: 42px;
	border: 1px solid #e4393c;
	cursor: pointer;
}